@tailwind base;
@tailwind components;
@tailwind utilities;

.dotted-line {
  position: relative;
  border-bottom: 2px solid transparent;
}

.dotted-line::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%; /* Full width */
  height: 2px; /* Height of each dot */
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 1px,
    transparent 4px,
    transparent 8px
  );
}
